@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@400;500;700&display=swap');

:root {
    --very-dark-magenta: hsl(300, 43%, 22%);
    --soft-pink: hsl(333, 80%, 67%);
    --dark-grayish-magenta: hsl(303, 10%, 53%);
    --light-grayish-magenta: hsl(300, 24%, 96%);
    --white: hsl(0, 0%, 100%);
    --font-family: 'League Spartan', sans-serif;
    --font-size-body: 15px;
    --fw-regular: 400;
    --fw-medium: 500;
    --fw-bold: 700;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: var(--font-size-body);
    font-family: var(--font-family);
    background-color: var(--white);
}

.container {
    max-width: 1100px;
    width: 100%;
    margin: 0 auto;
    padding: 60px 20px;
}

.content-wrapper {
    display: flex;
    justify-content: space-between;
    gap: 60px;
}


.content {
    width: 50%;
}

.content-title {
    font-size: 56px;
    color: var(--very-dark-magenta);
    font-weight: var(--fw-bold);
    margin-bottom: 20px;
}

.content-text {
    color: var(--dark-grayish-magenta);
    font-size: large;
    line-height: 1.2;
    font-weight: var(--fw-medium);
}

.rated-wrapper {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
    
}

.rated {
    display: flex;
    align-items: center;
    gap: 20px;
    padding: 15px 30px;
    background-color: var(--light-grayish-magenta);
    border-radius: 5px;
}

.rated-reviews {
    margin-top: 30px;
    position: relative;
    transform: translateX(-30px);
}

.rated-besttech {
    position: relative;
    transform: translateX(30px);
}

.rated-text {
    color: var(--very-dark-magenta);
    font-weight: var(--fw-bold);
    font-size: 13px;
}

.icon-img {
    width: 13px;
}

.card {
    display: flex;
    flex-direction: column;
    max-width: 340px;
    width: 100%;
    padding: 30px;
    border-radius: 10px;
    background-color: var(--very-dark-magenta)
    
}

.card-colton {
    position: relative;
    transform: translateY(-20px);
}

.card-anne {
    position: relative;
    transform: translateY(20px);
}


.profile-img {
    width: 42px;
    height: 42px;
    border-radius: 50%;
}

.card-profile {
    display: flex;
    align-items: center;
    gap: 20px;
    margin-bottom: 20px;
}

.profile-info {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.profile-name {
    color: var(--white);
    font-weight: var(--fw-bold);
    font-size: 15px;
}


.profile-info span {
    color: var(--soft-pink);
    font-size: 15px;
    font-weight: var(--fw-regular);
}

.card-text {
    font-size: 15px;
    color: var(--white);
    line-height: 1.5;
}

.card-wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-top: 70px;
    gap: 20px;
}


@media (max-width: 768px) {

    .container {
        display: grid;
        grid-template-columns: 1fr;
    }
    
    .card-wrapper {
        grid-template-columns: 1fr;
        gap: 5px;
    }
    
    .content-wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 10px;
    }
 
    .content-title {
        font-size: 42px;
        margin-bottom: 15px;
    }

    .rated-wrapper {
    width: 100%;
    gap: 10px;

     }
     
     .content {
        width: 100%;
        text-align: center;
     }
    
    
     .rated-besttech {
        transform: none;
     }
     .rated-reviews {
        transform: none;
     }


}






