@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@400;500;700&display=swap');

:root {
    --very-dark-magenta: hsl(300, 43%, 22%);
    --soft-pink: hsl(333, 80%, 67%);
    --dark-grayish-magenta: hsl(303, 10%, 53%);
    --light-grayish-magenta: hsl(300, 24%, 96%);
    --white: hsl(0, 0%, 100%);
    --font-family: 'League Spartan', sans-serif;
    --font-size-body: 15px;
    --fw-regular: 400;
    --fw-medium: 500;
    --fw-bold: 700;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: var(--font-size-body);
    font-family: var(--font-family);
    background-color: var(--white);
}

.container {
    max-width: 1100px;
    width: 100%;
    margin: 0 auto;
    padding: 60px 20px;
}

.content-wrapper {
    display: flex;
    justify-content: space-between;
    gap: 60px;
}


.content {
    width: 50%;
}

.content-title {
    font-size: 48px;
    color: var(--very-dark-magenta);
    font-weight: var(--fw-bold);
    margin-bottom: 20px;
}

.content-text {
    color: var(--dark-grayish-magenta);
    font-size: large;
    line-height: 1.2;
    font-weight: var(--fw-medium);
}

.rated-wrapper {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
    
}

.rated {
    display: flex;
    align-items: center;
    gap: 20px;
    padding: 15px 30px;
    background-color: var(--light-grayish-magenta);
    border-radius: 5px;
}

.rated-reviews {
    margin-top: 30px;
    margin-right: 60px;
}

.rated-besttech {
    margin-left: 60px;
}

.rated-text {
    color: var(--very-dark-magenta);
    font-weight: var(--fw-bold);
    font-size: 13px;
}

.icon-img {
    width: 13px;
}